$white: #fff;
$gray: #515151; 
$light-gray: #ebebeb;
$dark-gray: #373c3f;
$blue: #088ca5;
$dark-blue: #086374;
$baltic-sea: #27212c;
$violet: #bc3183;
$light-violet: #ed4cab;
$purple: #5b0fa1;
$light-purple: #893fcd;

$font-size-base: 14px !default;
$line-height-base: 1.86 !default;

$base-font-sans-serif: 'Montserrat', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-family: $base-font-sans-serif !default;

$base-text-color: $gray;
$base-background-color: $white;

$footer-background-color: $light-gray;
$footer-link-color: $blue;
$footer-link-color-hover: $dark-blue;