#header {
	background-color: $dark-gray;
	line-height: normal;

	#nav {
		font-size: 15px;
	}

	.drop {
		float: left;
		margin: 0;
		list-style: none;
		color: $white;
		padding: 39px 0 42px 54px;
		
		li {
			float: left;
			padding: 0 15px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			@include media ('<tablet') {
				float: none;
				padding: 0;
				background-color: $dark-gray;
			}
		}

		a {
			@include animate(color);
			
			color: $white;
			text-decoration: none;

			&:hover {
				color:#16b1c4;

				@include media('<tablet') {
					background-color: $gray;
					border-color: $gray;
				}
			}

			@include media('<tablet') {
				display: block;
				padding: 10px 10px 10px 25px;
				margin: -1px 0 0;
				border: 1px solid $gray;
			}
		}

		@include media ('<tablet') {
			width: 100%;
			position:absolute;
			top: 69px;
			right:0;
			opacity:0;
			z-index: -2;
			transition: opacity .3s linear, z-index .3s linear;
			box-shadow:  0 1px 3px rgba(0, 0, 0, .15);
			text-align: left;
			padding: 0;
			border-top: 1px solid #f59a07;
			visibility: hidden;
		}
	}
	
	.menu-opener {
		display:none;
		float:right;
		width:45px;
		height:25px;
		position:relative;
		top: 10px;
		right: 25px;
		border-radius:3px;
		text-indent:-9999px;
		overflow: hidden;
		outline: none;
		
		&:before,
		&:after,
		& span {
			background: $white;
			border-radius:4px;
			position:absolute;
			top:14px;
			left:20%;
			right:20%;
			height:3px;
			margin-top:-2px;
			transition:all 0.2s linear;
		}
		
		&:before,
		&:after {
			content:'';
			top:6px;
		}
		
		&:after{
			top:22px;
		}

		@include media('<tablet') {
			display:block;
		}
	}

	.banner {
	    background: linear-gradient(to bottom, #19b4c6 0%,#0ba0b6 100%);

		.heading-holder {
			max-width: 815px;
			padding-left: 82px;
			padding-top: 217px;

			h1 {
				line-height: normal;
				font-size: 60px;
				font-weight: 600;
				color: #fff;
				word-spacing: 12px;
				margin-bottom: 36px;

				@include media ('<tablet') {
					font-size: 33px;
				}

				@include media ('<phone') {
					font-size: 18px;
					margin-bottom: 16px;
				}
			}
			
			.text-holder {
				padding-bottom: 142px;

				a {
					font-size: 34px;
					color: #86d1dc;
					text-decoration: none;
					display: block;			

					&:hover {
						color: inherit;
					}
				
					@include media ('<tablet') {
						font-size: 22px;
					}

					@include media ('<phone') {
						font-size: 10px
					}
				}

				span {
					color: #fff;
					float: right;
					font: 700 36px/1.2 'Quicksand', sans-serif;

					&:hover {
						color: inherit;
					}

					@include media ('<tablet') {
						font-size: 22px
					}

					@include media ('<phone') {
						font-size: 14px
					}
				}

				&:hover {
					color: #088ca5;
				}

				@include media ('<tablet') {
					padding-bottom: 85px;
				}

				@include media ('<phone') {
					padding-bottom: 35px;
				}
			}

			@include media ('<desktop') {
				padding-top: 187px;
			}

			@include media ('<tablet') {
				padding: 108px 170px 0 53px;
			}

			@include media ('<phone') {
				padding: 50px 55px 0 26px;
			}
		}
	}
}
